<div ng-controller="pxVisPieChartCtrl as ctrl"  >
       
      <script type="text/ng-template" id="pxVisPieChart.html">
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-vis-pie-chart/px-vis-pie-chart.html" rel="import">
        
        <px-vis-pie-chart id="{{ctrl.widgetID}}"  
            width={{ctrl.width}}
            height={{ctrl.height}}
            register-config='{"width":"10","type":"vertical"}'
            chart-data="{{ctrl.chartData}}"
            series-config='{ "mySerie" :{"xAxisUnit": "points", "y": "y", "x": "x"} }' 
            decimal-percentage="{{ctrl.decimalPercentage}}"
            
			max-registers="{{ctrl.maximumRegister}}">
        </px-vis-pie-chart>
    </script>
    
    
    <script  type="text/ng-template" id="pxVisPieChartInError.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-style="{'width': ctrl.width,'height':'ctrl.height'}" ng-include src="ctrl.currentTpl" >
    </div>
</div>